# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Environment files
.env

# Data files
data/raw/
data/processed/
*.db-shm
*.db-wal

# OS / editor
.DS_Store
.vscode/
